.header {
    margin-top: 4rem;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #8a8282;
}

.smSpan {
    position: absolute;
    top: 22%;
    font-size: 1.3rem
}

.lgSpan {
    position: absolute;
    top:24%;
    font-size: 6rem;
}

.headerImg {
    width: 100%;
    height: 40rem;
    margin-top: 5rem;
    object-fit: cover;
}